@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Proxima Nova';
  src: url('../public/fonts/Proxima\ Nova/proximanova_regular.ttf');
}

body {
  background: #f5f5f5;
}
